 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #794E61;
active-foreground: #AEABB3;
normal-background: #08050E;
normal-foreground: #AEABB3;
urgent-background: #AA346B;
urgent-foreground: #AEABB3;

alternate-active-background: #26172F;
alternate-active-foreground: #AEABB3;
alternate-normal-background: #08050E;
alternate-normal-foreground: #AEABB3;
alternate-urgent-background: #08050E;
alternate-urgent-foreground: #AEABB3;

selected-active-background: #AA346B;
selected-active-foreground: #AEABB3;
selected-normal-background: #AA346B;
selected-normal-foreground: #AEABB3;
selected-urgent-background: #794E61;
selected-urgent-foreground: #AEABB3;

background-color: #08050E;
background: rgba(0,0,0,0.7);
foreground: #AEABB3;
border-color: #794E61;

color0: #463839;
color1: #120A1D;
color2: #120A1D;
color3: #1C1123;
color4: #5B3B49;
color5: #7F2750;
color6: #8F5D68;
color7: #837E8B;
color8: #5C5861;
color9: #180E27;
color10: #180E27;
color11: #26172F;
color12: #794E61;
color13: #AA346B;
color14: #BE7C8B;
color15: #837E8B;


}

